/*Erica Pedraza
October 24 2023 */

body{
	background-image: url("../images/jewelry.jpg");
	background-repeat: no-repeat;
	background-size:auto;
	background-position: top;
	width: auto;
}
h1{
	font-family: 'Pacifico', cursive;
	font-size: 4em;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 2em;
}
	 
.addrightmargin{
	margin-right: 10%;
	float:left;
	border-radius: 50%;
}
#outerwrapper{	
	border-top-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-left-radius: 15%;
	border-bottom-right-radius: 15%;
	width: 70%;
	margin: 0 auto 0 auto;
	background: rgba(243,205,170, 0.4);
}

nav{
	font-size: 1.5em;
	clear:both
}
main{
	background: linear-gradient(#FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
}

footer{
	font-size: 1em;
	text-align: center;
	padding-bottom: 10px;
}

