html{
    background-color: #D6BAD2;
}
/* targeting for overall font */
h2, h3, p, nav, .btn{
    font-family: 'Nova Square', sans-serif;
}
h2 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
/* submit button on contact form */
.btn {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    margin: 10px;
    padding: 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 100% auto;
    color: black;
    border-radius: 10px;
  }
/* for my links */
a:link{
    color:black;
}
a:visited{
    color:blueviolet;
}
a:hover{
    color:#ff8000;
}
.btn:hover {
    background-position: right center;
}
a:active{
    color:#ff33cc;
}
/* make my header stand out */
header{
    background-color:#ffb3d9;
}
nav{
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    background-color:#c6538c;
}
/* table */
#demTable {
    border:3px double #990033;
    border-collapse:separate;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
}
#demTable th {
    border:3px double #006666;
    padding:10px;
    background: #ffffff;
    color: #313030;
 }
#demTable td {
    border:3px double #006666;
    text-align:left;
    padding:10px;
    background: #ffffff;
    color: #313030;
 }
footer{
    font-size: 75%;
    text-align: center;
  }
/* project showcase */
.flex-container {
background:  #ecc6d8;
border: 1px solid #000000;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: space-between;
  margin: 10px;
  gap: 20px;
}
.projectBox{
    border: 1px solid #c6538c;
    text-align: center;
}
.projectBox a.button {
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #FFFFFF;
    background: #00008833;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 1px;
}
.projects{
    background-color:#c6538c;
}
/* centering my images */
#mylogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
#jiminie{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
#fivek{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.form {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}