/* Erica Pedraza
Oct 3, 2023 */


#outerwrapper {
	width:70%;
	margin-left:auto;
	margin-right: auto;
} 

body{
	background-color:#B8D1EB;
	color:#000000;
	font-family: 'Times New Roman', Times, serif;
}

main{
	background-color:#C5A98b;
	padding:10px;
}

h1{ 
	font-family:'Courier New', Courier, monospace;
	font-size:50px;
}
	
h2{
	font-weight:normal;
	font-family: 'Courier New', Courier, monospace;
	font-style: italic;
}
.floatleft { 
float: left;
margin-right: 3%;
}

.fruity{
	list-style-image: url("smoltomato.png");
}
.floatright {
float: right;
margin-left:3%;
}

main, footer { 
clear: both;
}
footer{
	padding-top:10px;
	font-size: .75em;
	text-align: center;
	background-color:#65534F;
	padding-bottom:10px;
}