html{
    background-color: #D6BAD2;
}

h2, h3, p, nav{
    font-family: 'Nova Square', sans-serif;
}


a:link{
    color:black;
}
a:visited{
    color:blueviolet;
}
a:hover{
    color:#ff8000;
}
a:active{
    color:#ff33cc;
}
nav{
    float: left;
    display: inline;
    padding: 8px;
    background-color:#c6538c;
}
#demTable {
    border:3px double #990033;
    border-collapse:separate;
    padding:10px;
}
#demTable th {
    border:3px double #006666;
    padding:10px;
    background: #ffffff;
    color: #313030;
 }
#demTable td {
    border:3px double #006666;
    text-align:left;
    padding:10px;
    background: #ffffff;
    color: #313030;
 }
  footer{
    font-size: 75%;
    font-style: bold;
    text-align: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }